{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div id="like_button_container"></div>


<div class="container">
   <span style="color:rgba(223, 207, 207, 0.719)"></span>
   <div class="row">

      <div class="col-md-3">

         <table class="table table-bordered table-condensed table-hover table-striped text-center bg-light mt-3">
            <thead>
               <tr>
                  <th scope="col">Category</th>
               </tr>
            </thead>
            <tbody class="text-left">
               <tr>
                  <td><input type="checkbox" name="Category">Greek</td>
               </tr>
               <tr>
                  <td><input type="checkbox" name="Category">Hobby</td>
               </tr>
               <tr>
                  <td><input type="checkbox" name="Category">Professional</td>
               </tr>
               <tr>
                  <td><input type="checkbox" name="Category">Sports</td>
               </tr>
            </tbody>
         </table>
         <button type="button" value="selectAll" class="main" onclick="checkAll1()">Select All</button>
         <button type="button" value="deselectAll" class="main" onclick="uncheckAll1()">Clear</button>
      </div>

   <div class="container">
      <span style="color:rgba(223, 207, 207, 0.719)"></span>
      <div class="row">
         <div class="col-md-3">

            <table class="table table-bordered table-condensed table-hover table-striped text-center bg-light">
               <thead>
                  <tr>
                     <th scope="col">Size</th>
                  </tr>
               </thead>
               <tbody class="text-left">
                  <tr>
                     <td><input type="checkbox" name="Size">Large (50+)</td>
                  </tr>
                  <tr>
                     <td><input type="checkbox" name="Size">Medium (20-50)</td>
                  </tr>
                  <tr>
                     <td><input type="checkbox" name="Size">Small (1-20)</td>
                  </tr>
               </tbody>
            </table>
            <button type="button" value="selectAll" class="main" onclick="checkAll2()">Select All</button>
            <button type="button" value="deselectAll" class="main" onclick="uncheckAll2()">Clear</button>
         </div>
      </div>
</div>
<script type="text/javascript">
   // Select all check boxes
     function checkAll1(){
       var items = document.getElementsByName('Category');
         for (var i = 0; i < items.length; i++) {
             if (items[i].type == 'checkbox')
                 items[i].checked = true;
         }
     }
   // Clear all
     function uncheckAll1(){
       var items = document.getElementsByName('Category');
         for (var i = 0; i < items.length; i++) {
             if (items[i].type == 'checkbox')
                 items[i].checked = false;
         }
     }
     // Select all check boxes
       function checkAll2(){
         var items = document.getElementsByName('Size');
           for (var i = 0; i < items.length; i++) {
               if (items[i].type == 'checkbox')
                   items[i].checked = true;
           }
       }
     // Clear all
       function uncheckAll2(){
         var items = document.getElementsByName('Size');
           for (var i = 0; i < items.length; i++) {
               if (items[i].type == 'checkbox')
                   items[i].checked = false;
           }
       }
</script>

<!-- Create table corresponding to checkboxes -->

<div class="container">
  <table class="table table-striped table bordered mt-3 bg-light" style="width:80%" id="Club Data">
      <thread>
          <tr>
              <th>Club Name</th>
              <th>Size</th>
              <th>Type</th>
          </tr>
      </thread>
      <tbody>
          <tr>
              <th>Chess Club</th>
              <th>49</th>
              <th>Hobby</th>

          </tr>
          <tr>
              <th>Ultimate Frisbee</th>
              <th>40</th>
              <th>Sports</th>

          </tr>
          <tr>
              <th>Zeta Tau Alpha</th>
              <th>150</th>
              <th>Greek</th>

          </tr>
          <tr>
              <th>Alpha Epsilon Pi</th>
              <th>65</th>
              <th>Professional</th>

          </tr>
          <tr>
              <th>Intramural Rugby</th>
              <th>87</th>
              <th>Sports</th>

          </tr>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

        <!-- Load our React component. -->
        <script src="like_button.js"></script>


      </tbody>

      <tfoot>
          <tr>

          </tr>
      </tfoot>

  </table>
</div>
</div>
{% endblock %}