{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="container" style="padding-top: 25px;">
  <p style="text-align: center"> UserID: {{user}} </p>
  <div class="row">
    <div class="col-5">
      <div class="container" id="clubList" style="max-width: 400px;">
        <h4>Top 10 Most Active Clubs</h4>
        <div class="list-group bg-light">
          <a href="/club.html" class="list-group-item list-group-item-action">Chess Club</a>
          <a href="#" class="list-group-item list-group-item-action">Frisbee Golf</a>
          <a href="#" class="list-group-item list-group-item-action">Nature Painters</a>
          <a href="#" class="list-group-item list-group-item-action">Pickup Soccer Org</a>
          <a href="#" class="list-group-item list-group-item-action">CAB</a>
          <a href="#" class="list-group-item list-group-item-action">Archery</a>
          <a href="#" class="list-group-item list-group-item-action">Alpha Sigma Phi</a>
          <a href="#" class="list-group-item list-group-item-action">Pickup Soccer Org</a>
          <a href="#" class="list-group-item list-group-item-action">Rho Tau Sigma</a>
          <a href="#" class="list-group-item list-group-item-action">Investment Club</a>
        </div>
      </div>
    </div>
    <div class="col-2">
    </div>

    <div class="col-3">
        <h4>Weekly Club Highlights</h4>
            <img src="../static/clubpic.jpg" class="d-block" alt="..." style="width: 100%">
  </div>
</div>
{% endblock %}
